<div class="project-summary clearfix">
	<div about="{{ .Permalink | relURL }}">
		<div class="col-xs-6 col-md-4">
			<a href="{{ .Permalink | relURL }}" >
				{{ if .Params.is_incubated }}
				<img class="img-responsive center-block margin-bottom-30" src="https://projects.eclipse.org/sites/all/modules/custom/pmi/project_state/images/incubating.png" />
				{{ else }}
				<img class="img-responsive center-block" src="{{ .Params.logo }}" alt="{{ i18n "project-summary-logo-text" . }}" />
				{{ end }}
			</a>
		</div>

		<div class="col-xs-18 col-md-14 project-teaser">
			<h2 class="name">{{ .Title }}</h2>
			{{ if isset .Params.technology_types 0 }}
				<ul class="labels list-inline">
					{{range .Params.technology_types }}
			            <li><a class="label label-warning" href="/{{ "technology_types" | urlize }}/{{ . | urlize}}/">{{ . }}</a></li>
					{{ end }}
				</ul>
			{{ end }}
			<div class="project-teaser-description">
				{{ .Summary }}
				<p><a href="{{ .Permalink | relURL }}">{{ i18n "project-summary-read-more" }}</a></p>
			</div>
		</div>

		<div class="col-md-6 details hidden-xs hidden-sm">
			{{ if ne .Params.latest_version nil }}
			<p class="latest-release">
				{{ i18n "project-summary-latest-release" }} <a href="{{ .Params.download_url }}"><span class="badge version">{{ .Params.latest_version }}</span></a>
			</p>
			{{ end }}
			{{ if ne .Params.download_url nil }}
			<div class="btn-group">
				<a href="{{ .Params.download_url }}" class="btn btn-sm btn-warning details-link">{{ i18n "project-summary-download-label" }}</a>
				<button type="button" class="btn btn-sm btn-warning dropdown-toggle details-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">{{ i18n "project-summary-toggle-dropdown" }}</span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="{{ .Params.website }}">{{ i18n "project-summary-website-label" }}</a></li>
				</ul>
			</div>
			{{ else }}
			<div class="btn-group">
				<a href="{{ .Params.website }}" class="btn btn-sm btn-warning details-link">{{ i18n "project-summary-website-label" }}</a>
			</div>
			{{ end }}
		</div>
		<!-- End release col -->
	</div>
	<!-- End node -->
	<hr class="hr-border-dotted">
</div>
